# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Database
*.sqlite3

# Docker
.docker/
docker-compose.override.yml

# IDEs
.idea/
.vscode/
*.swp
*.swo
